<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,398;1,398&display=swap" rel="stylesheet">
  <title>ResetPasswordLink</title>
  <style>
    body {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
  </style>

<body>
  <div style="width: 100%;">
    <div>
      <div>
        <span>Please click</span>
        <a href="{{ResetPasswordLink}}" style="color: #1d5db5; text-decoration: underline;">Here</a>
        <span>to reset your account Password.</span>
      </div>
      <h3>
        If you encounter any issues or have any questions, please do not
        hesitate to contact our support team.
      </h3>
      <div>
        <span style="color: yellow;">Important Note:</span>
        <span>For Security Reasons, link will be expire in 24 hours, if you did
          not request a password reset, please ignore this email or contact
          our support immediately.</span>
      </div>
    </div>
  </div>
</body>

</html>