.profile-img-container img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.form-label {
  margin: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--primaryBackgroundColor);
}
.email-verification-bar-chart {
  height: 350px !important;
  width: 100% !important;
  display: block;
}

.main-content {
  background-color: #ededed;
}
.recent-look-ups {
  height: 350px;
}

