.profile-img-container img {
  height: 90px;
  width: 90px;
  border: 2px solid var(--primaryBorderColor);
  border-radius: 50%;
}
.form-label {
  margin: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--primaryBackgroundColor);
}
.email-verification-bar-chart {
  height: 325px !important;
  width: 100% !important;
  display: block;
}
