.input-email-verify {
  min-width: 20vw;
  border-color:gray
}
.table-email-verification table {
  margin: 0;
}
.table {
    --bs-table-border-color: black !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: rgb(0 0 0 / 13%);
}
table td
{
    font-weight:bold;
}
.table-shadow-custom {
    box-shadow: 0px 0.1rem 0.25rem 0px rgb(0 0 0 / 65%) !important
}